body{
  height: 2000px;
}
.box{
  width: 200px;
  height: 200px;
  border:1px #F00 solid;
  position: relative;
}
.box2{
  width: 150px;
  height: 160px;
  border:1px #F00 solid;
  position: absolute;
  bottom:20px;
}
.child{
  width: 50px;
  height: 50px;
  border:1px #F00 solid;
  position: absolute;
  left: 200px;
  bottom:100px;
}
